body {
    padding: 2rem;
}


th, td {
    vertical-align: middle;
    text-align    : center;
    line-height   : normal;
}


.bg-pale-success {
    background-color: rgba(var(--bs-success-rgb), 0.05) !important;
}

.bg-pale-primary {
    background-color: rgba(var(--bs-primary-rgb), 0.05) !important;
}

.table-hover tbody td.col-highlight {
    background: #00000006;
}
